{% extends "app/app.html" %}
{% load static %}
{% block ao %}
<div class = "row"  style = "width : 100%">
{%for okk in ok %}
<div class = "col-lg-3">
    <img class = "thumnail" src = "{{okk.ImageURL}}" />
    <div class = "box-element product"> 
        <h6><strong> {{okk.name}} </strong></h6>
        <hr>
        <button data-product = {{okk.id}} data-action = "add"  class = "btn btn-outline-secondary add-btn update-cart"> Thêm vào giỏ hàng </button>
        <a class = "btn btn-outline-success" href = "#" >Xem</a>
        <h5 style = "display: inline-block ; float ;right"><strong> {{okk.chprice}}</strong></h5    >
    </div>
</div>
{%endfor%}
</div>
{% endblock ao %}
